/* Generic stuff for the whole page */

/* hexcodes 
dark blue #091d65
light blue #b3d8fc
blue #6b9bff
light orange #f44f1d
orange #f13800 */


body {
    background-color: #b3d8fc;
    margin: 0px;
    height: 100vh;
    overflow-y: hidden;
}

header {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    background-color: black;
    position: sticky;
    top: 0;
}


h1 {
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f44f1d;
}

li.menu {
    display:inline;
    float: right;
}

a.menu {
    display: block;
}

li.menu a.menu {
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

a.menu:hover{
    background-color: #f13800;
}

#logo{
    float:left
}

#logoimg{
    width: 216px;
    padding-left: 50px;
}


.text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
    font-family: monospace;
}


#bigT{
    font-size: 60px;
    text-decoration-line: overline;
}

.hidden{
    display:none
}

/* Concrete stuff for this css */

#sidenav{
    float: right;
    background-color: #f44f1d;
    width: 20%;
    display: inline-block;
    text-align: center;
    padding: 20px;
    height: 100vh;
}

#taglist {
    list-style-type: none;
    height: 100%;
    padding: 10px;
}

main{
    height: 100%;
}

#micromain{
    float: left;
    width: 77%;
    text-align: center;
    height: 100%;
}

#juegotitle{
    font-size: 50px;
    color: #091d65;
}

#juegos{
    padding: 40px;
    width:87%;
    height:75%;
    padding-left: 49px;
    margin: 30px;
    margin-top: 5px;
    text-align: center;
    background-color: #6b9bff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    overflow-y: scroll;
    scrollbar-color: #091d65 #6b9bff;
    border-radius: 10px;
}

.imgjuego{
    width: 250px;
    border-bottom: 5px solid #6b9bff;
}

.juego{
    width: 250px;
    border: 5px solid #6b9bff;
    border-radius: 10px;
    background-color: aliceblue;
    display: inline-block;
    margin-bottom: 20px;
}

h3 {
    border-bottom: 5px solid #6b9bff;
    margin-top: 5px ;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

p{
    margin: 5px;
}

.gamelink{
    text-decoration: none;
    color: black;
    cursor: pointer;
    width: 260px;
}

.search{
    background-color: white;
  background-image: url('../img/searchicon.png');
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  padding-left: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 155px;
  border: 4px solid #ff825d;
  border-radius: 100px;
  color: #000ed193;
  padding-top: 5px;
  padding-bottom: 5px;
  outline: none;
}

.search:focus{
    width: 90%;
    border: 4px solid #6b9bff;
}

.tag{
    margin-bottom: 20px;
    font-size: 20px;
    float: left;
  display: inline;
  width: 50%;
  color: aliceblue;
}


